body
{
    background-color:antiquewhite; 
}
form
{
   padding-left: 10%;
    margin-left: 10%;   
}
#imie
{
    margin-left: 37px; 
}
#email
{
    margin-left: 23px; 
}
.img {
	width: 100px;
	height: auto;
}
footer
{
    text-align: center;
    padding-bottom: 5%;
    margin-top: 50%;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
     display: none;

}
html {
  scroll-behavior: smooth;
}
